<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- NFC permission required to communicate with ePassport chips -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Declare that this app uses NFC hardware -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- Declare NFC tag technology support for ISO-DEP (ISO 14443-4) used by ePassports -->
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false" />

</manifest>
